@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,400;1,300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	background: black;
}

/* navbar styling */
.navBar {
	display: flex;
	position: fixed;
	width: 100%;
	padding: 30px 0;
	transition: ease 0.3s;
	font-family: 'Ubuntu', sans-serif;
	background-color: black;
}

.navBar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
}
.navBar.sticky {
	padding: 30px 0;
	background: gold;
}
.navBar.sticky .logo a span {
	color: #111;
	transition: ease 0.3s;
}
.navBar.sticky .menu li a:hover {
	color: black;
}
.navBar .logo a {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
.navBar .logo a span {
	color: gold;
}
.navBar .menu li {
	list-style: none;
	display: inline-block;
}
.navBar .menu li a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navBar .menu li a:hover {
	color: gold;
}
.home .home-content a:hover {
	color: #fff;
}

/* home section styling */

.home {
	display: flex;
	background: url('./pics/—Pngtree—fitness\ background\ advertising\ background_997791.jpeg')
		no-repeat center;
	color: #fff;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 90vh;
}
.home .max-width {
	margin: auto auto;
}
.home .home-content {
	text-align: right;
}
.home .home-content .text-1 {
	font-size: 27px;
}
.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}
.home .home-content .text-3 {
	font-size: 40px;
	margin: 5px 0;
}
.home .home-content .text-3 span {
	color: gold;
	font-weight: 500;
	font-size: 40px;
	margin: 5px 0;
}
/* about section styling */
section {
	padding: 100px 0;
}
.about {
	display: flex;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}
#max-width-about {
	display: flex;
	flex-direction: column;
}
.title {
	text-align: center;
	font-size: 40px;
	font-weight: 500px;
	margin-bottom: 0;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: black underline;
}

.about .title::after {
	position: absolute;
	bottom: -200px;
	left: 50%;
	font-size: 20px;
	color: gold;
	padding: 5px;
	background: white;
	transform: translate(-50%);
	border-radius: 5px;
	z-index: -100;
}

.about .about-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about .about-content .column-left {
	display: flex;
	height: 40vh;
	width: 20vw;
	margin: 1rem;
}
.about .about-content .column-left img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}
.about .about-content .column-right {
	display: flex;
	height: 40vh;
	width: 20vw;
	background: #111;
	border-radius: 5px;
	top: 67rem;
	right: 24rem;
	color: whitesmoke;
	text-align: center;
	font-family: 'Noto Serif Display';
	line-height: 3vh;
	overflow: scroll;
	padding: 0.5rem;
}

/* Projects section styling */

.projects {
	display: flex;
	background-color: black;
	justify-content: center;
}
.projects .max-width .title {
	color: whitesmoke;
	text-decoration: whitesmoke underline;
}
.projects .project-content {
	display: flex;
}
.demo-vids {
	width: max-content;
	margin: 1rem;
}
.demo-vids iframe {
	border-radius: 5px;
}

/* Skills section styling */

.skills {
	display: flex;
	background-color: whitesmoke;
	justify-content: center;
	align-items: center;
}
.skills .max-width {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.skills-content {
	display: flex;
	justify-content: center;
}
.skills-container {
	display: flex;
	width: max-content;
	flex-direction: column;
}
.row {
	display: flex;
	justify-content: center;
}
.row img {
	width: 5rem;
	height: 5rem;
	margin: 1rem;
}

/* Resume section start */

.resume {
	display: flex;
	background-color: black;
	justify-content: center;
}
#max-width-resume {
	display: flex;
	flex-direction: column;
}
.resume .title {
	color: whitesmoke;
	text-decoration: whitesmoke underline;
}
.resume-content {
	display: flex;
}
.resume-document {
	display: flex;
	justify-content: center;
	align-items: center;
}
.resume-container {
	margin: 1rem;
}
.resume-container a {
	display: flex;
	flex-direction: column;
}

.resume-icon {
	width: 10rem;
	height: 10rem;
}
#resume-icon-download {
	padding: 19px;
	border-radius: 30px;
}
.resume-document .text {
	text-align: center;
	color: whitesmoke;
	font-family: 'Ubuntu';
	font-size: larger;
}

/* Contact section styling */

.contact {
	display: flex;
	background-color: whitesmoke;
	justify-content: center;
}

#max-width-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact .title {
	color: black;
	text-decoration: black underline;
}
.contact-container {
	display: flex;
	margin: 1rem;
	justify-content: space-between;
	width: 100%;
}
.contact-icon {
	width: 10rem;
	height: 10rem;
}
.contact-container .text {
	text-align: center;
	color: black;
	font-family: 'Ubuntu';
	font-size: larger;
}
.contact-icon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* responsive media query start */

@media (max-width: 869px) {
	.navBar {
		display: flex;
		height: 5rem;
		text-align: center;
	}
	.navBar .logo {
		display: flex;
		width: 100vw;
		line-height: 25px;
		justify-content: center;
	}
	.navBar .logo a {
		font-size: 1rem;
	}
	.navBar .menu {
		display: none;
	}
	.home {
		display: none;
	}
	.about .about-content .column-left {
		display: flex;
		height: 30vh;
		width: 45vw;
		margin: 0;
		margin-right: 15px;
		border-radius: 5px;
		box-shadow: 5px 5px 5px;
	}
	.about .about-content .column-right {
		display: flex;
		height: 30vh;
		width: 45vw;
		box-shadow: 5px 5px 5px black;
	}
	.projects .project-content {
		display: flex;
		flex-direction: column;
	}
	.projects .project-content iframe {
		height: 30vh;
		width: 60vw;
	}
	.skills .max-width {
		display: flex;
		justify-content: center;
		width: max-content;
	}
	.skills-content {
		height: 60vh;
		width: 300px;
	}
	.skills-container {
		width: 100%;
	}
	.skills-container .row {
		width: 100%;
	}
	.skills-container .row img {
		height: 10vh;
		width: 20vw;
		margin: 3vw;
		margin-bottom: 5vh;
	}
	#free-pic {
		display: none;
	}
	.contact-container {
		flex-direction: column;
	}
	.contact-icon-container{
		margin-bottom: 5vh;
	}
	
}
