@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,400;1,300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	/* background-color: black; */
}
body {
	background: black;
}
/* .max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
} */
/* navbar styling */
.navBar {
    display: flex;
	position: fixed;
	width: 100%;
	padding: 30px 0;
	transition: ease 0.3s;
	font-family: 'Ubuntu', sans-serif;
	background-color: black;
    /* border: hotpink dotted thick; */
}

.navBar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
    /* border: thick dotted red; */
    width: 100%;
    padding: 10px;
}
.navBar.sticky {
	padding: 30px 0;
	background: gold;
}
.navBar.sticky .logo a span {
	color: #111;
	transition: ease 0.3s;
}
.navBar.sticky .menu li a:hover {
	color: black;
}

.navBar .logo a {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
    /* border: sandybrown thick dotted; */
}
.navBar .logo a span {
	color: gold;
}
.navBar .menu li {
	list-style: none;
	display: inline-block;
}
.navBar .menu li a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navBar .menu li a:hover {
	color: gold;
}

/* .home .home-content a {
	display: inline-block;
	background: gold;
	color: #fff;
	font-size: 30px;
	padding: 12px 36px;
	border-radius: 6px;
	border: 2px solid gold;
	transition: all 0.3s ease;
    margin-top: 20px;
 } */

.home .home-content a:hover {
	color: #fff;
}

/* home section styling */

.home {
	display: flex;
	background: url('./pics/—Pngtree—fitness\ background\ advertising\ background_997791.jpeg')
		no-repeat center;
	color: #fff;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 90vh;
	/* border: red dotted thick; */
}
.home .max-width {
	margin: auto auto;
}
.home .home-content {
	text-align: right;
}
.home .home-content .text-1 {
	font-size: 27px;
}
.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}
.home .home-content .text-3 {
	font-size: 40px;
	margin: 5px 0;
}
.home .home-content .text-3 span {
	color: gold;
	font-weight: 500;
	font-size: 40px;
	margin: 5px 0;
}
/* about section styling */
section {
	padding: 100px 0;
}
.about {
	display: flex;
	font-family: 'Poppins', sans-serif;
	/* border: red dotted thick; */
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}
#max-width-about {
	display: flex;
	/* border: darkcyan dotted thick; */
	flex-direction: column;
}
.title {
	text-align: center;
	font-size: 40px;
	font-weight: 500px;
	margin-bottom: 0;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: black underline;
	/* border: purple dotted thick; */
}
/* .about .title::before {
	content: '';
	position: absolute;
	bottom: -100px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translate(-50%);
	z-index: -100;
} */
.about .title::after {
	position: absolute;
	bottom: -200px;
	left: 50%;
	font-size: 20px;
	color: gold;
	padding: 5px;
	background: white;
	transform: translate(-50%);
	border-radius: 5px;
	z-index: -100;
}

.about .about-content {
	display: flex;
	/* border: orange dotted thick; */
	justify-content: space-between;
	align-items: center;
}

.about .about-content .column-left {
	display: flex;
	height: 40vh;
	width: 20vw;
	margin: 1rem;
	/* border: red dotted thick; */
}
.about .about-content .column-left img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
	/* border: purple dotted thick; */
}
.about .about-content .column-right {
	display: flex;
	height: 40vh;
	width: 20vw;
	background: #111;
	border-radius: 5px;
	top: 67rem;
	right: 24rem;
	/* border: red dotted thick; */
	color: whitesmoke;
	text-align: center;
	font-family: 'Noto Serif Display';
	line-height: 3vh;
	overflow: scroll;
	padding: 0.5rem;
}

/* Projects section styling */

.projects {
	display: flex;
	background-color: black;
	/* border: dotted orange thick; */
	justify-content: center;
}
.projects .max-width .title {
	color: whitesmoke;
	text-decoration: whitesmoke underline;
	/* border: red dotted thick; */
}
.projects .project-content {
	display: flex;
	/* border: blue dotted thick; */
}
.demo-vids {
	/* border: blueviolet dotted thick; */
	width: max-content;
	margin: 1rem;
}
.demo-vids iframe {
	border-radius: 5px;
}

/* Skills section styling */

.skills {
	display: flex;
	background-color: whitesmoke;
	justify-content: center;
	align-items: center;
	/* border: red dotted thick; */
}
.skills .max-width {
	display: flex;
	/* border: purple thick dotted; */
	flex-direction: column;
	width: 100%;
}
.skills-content {
	display: flex;
	/* border: dotted thick orange; */
	justify-content: center;
}
.skills-container {
	display: flex;
	/* border: red dotted thick; */
	width: max-content;
	flex-direction: column;
}
.row {
	display: flex;
	justify-content: center;
}
.row img {
	width: 5rem;
	height: 5rem;
	/* border: black thick dotted; */
	margin: 1rem;
}

/* Resume section start */

.resume {
    display: flex;
	/* border: red dotted thick; */
    background-color: black;
    justify-content: center;
}
#max-width-resume{
    display: flex;
    /* border: whitesmoke thick dotted; */
    flex-direction: column;
}
.resume .title {
	/* border: red dotted thick; */
	color: whitesmoke;
	text-decoration: whitesmoke underline;
}
.resume-content{
    display: flex;
    /* border: pink dotted thick; */
}
.resume-document {
    display: flex;
    justify-content: center;
    align-items: center;
	/* border: orange dotted thick; */
}
.resume-container{
    margin: 1rem;
}
.resume-container a{
    display: flex;
    /* border: thick dotted lime; */
    flex-direction: column;

}

.resume-icon{
    /* border: magenta thick dotted; */
    width: 10rem;
    height: 10rem;   
}
#resume-icon-download{
  padding: 19px;
    border-radius: 30px;
}
.resume-document .text{
    /* border: hotpink dotted thick; */
    text-align: center;
    color: whitesmoke;
    font-family: 'Ubuntu';
    font-size: larger;
}

/* Contact section styling */

.contact{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    /* border: lime dotted thick; */
}

#max-width-contact{
    display: flex;
    /* border: black thick dotted; */
    flex-direction: column;
    align-items: center;
}
.contact .title {
	/* border: red dotted thick; */
	color: black;
	text-decoration: black underline;
}
.contact-container{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    /* border: red dotted thick; */
    width: 100%;
}
.contact-icon{
    /* border: magenta thick dotted; */
    width: 10rem;
    height: 10rem;   
}
.contact-container .text{
    /* border: hotpink dotted thick; */
    text-align: center;
    color: black;
    font-family: 'Ubuntu';
    font-size: larger;
}
.contact-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: blue dotted thick; */
}
/* responsive media query start */

@media (max-width: 869px) {
	.max-width {
		padding: 0 50px;
	}
	.navBar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: 0;
		top: 0;
		background: url(./pics/—Pngtree—fitness\ background\ advertising\ background_997791.jpeg);
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navBar .menu.active {
		left: 0%;
	}
	.navBar .menu li {
		display: block;
	}
	.navBar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.home .home-content .text-2 {
		font-size: 70px;
	}
	.home .home-content .text-3 {
		font-size: 35px;
	}
}
